.amazing-wrapper {
  background-color: #fff;
  position: relative;
  padding-top: 200px;
  z-index: 40;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 160px;

  .content {
    animation: fade-in-up 4s ease-in-out;
    position: relative;
    display: grid;
    width: 930px;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 8px;

    @include small_tablet_max {
      width: 100%;
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .column {
      position: relative;
      display: flex;
      flex-direction: column;

      .content-wrapper {
        flex-shrink: 0;
      }

      .img-wrapper {
        height: 100%;
        width: 100%;

        img {
          position: relative;
          z-index: 10;
          height: 100%;
          width: 100%;
        }
      }

      .img01 img {
        height: 80%;
      }

      &.start {
        bottom: 10%;
        grid-column: span 2 / span 2;

        @include small_tablet_max {
          width: 100%;
          grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        .top {
          margin-bottom: 64px;
          margin-top: 96px;
          display: inline-flex;
          flex-direction: column;

          .title-wrapper {
            left: 150px;
            display: flex;
            flex-direction: column;
            gap: 40px;
            text-align: left;

            @include small_tablet_max {
              gap: 0;
            }

            .title p {
              font-size: 24px;
              font-weight: 300;
              color: #da613a;

              @include tablet_max {
                font-size: 14px;
              }
            }

            .desc {
              position: relative;
              margin-bottom: 32px;
              transform-origin: left;
              font-size: 62px;
              font-weight: 600;
              line-height: 78px;
              line-height: 78px;
              color: rgb(24, 24, 24);
              transition-duration: 0.5s;

              @include tablet_max() {
                font-size: 2px;
                line-height: 50px;

                .underline {
                  display: none;
                }
              }

              .underline {
                position: absolute;
                right: 40px;
                height: 2px;
                width: 70%;
                background-color: #da613a;
                transition-duration: 0.5s;
                transition-property: opacity;
                transition-timing-function: ease;
                opacity: 0;
              }

              &:hover {
                transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(1.1) scaleY(1.1);

                .underline {
                  opacity: 1;
                }
              }
            }
          }
        }

        .bottom {
          position: relative;
          top: -40px;
          display: grid;
          grid-template-columns: repeat(2, minmax(0, 1fr));
          gap: 8px;

          @include tablet_max() {
            top: -80px;
          }
        }
      }

      &2 {
        gap: 8px;
      }

      &3 {
        top: 40px;
        gap: 8px;
      }
      &4 {
        top: 80px;
        gap: 8px;
      }
      &5 {
        top: -15%;
        gap: 8px;

        .behind {
          position: relative;
          z-index: -999;
          opacity: 0.5;

          .mask {
            position: absolute;
            inset: 0;
            // background: var(--gray-100, #f0f2fa);
            background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
          }
        }
      }
    }
  }
}
