.formula-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 20;
  padding: 0 80px;
  background-color: #fff;

  .content-wrapper {
    position: relative;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .top {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 40px;

      .left {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 12px;

        .item {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
          align-self: stretch;
          border-radius: 64px;
          border: 1px solid rgb(240 242 250);
          background-color: rgb(255 255 255);
          padding: 16px 32px;

          &-text {
            text-align: center;
            font-size: 32px;
            font-weight: 600;
            color: rgb(24 24 24);
          }
        }
      }

      .right {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 16px 32px;
        background-color: #f07f5a;
        border-radius: 64px;

        .item-text {
          text-align: center;
          font-size: 32px;
          font-weight: 700;
          color: rgb(24 24 24);
        }
      }
    }
  }

  .bottom {
    display: inline-flex;
    position: absolute;
    bottom: 40px;
    align-items: center;
    gap: 12px;

    p {
      font-size: 20px;
      color: #da613a;
      font-weight: 300;
    }
  }

  .bg-incoming {
    position: absolute;
    left: 20%;
    top: 0;
    z-index: 10;
    width: 50%;
  }
}
