html,
body {
  font-size: 14px;
  font-family: 'Sora', 'Poppins', sans-serif;
  height: 100%;
  width: 100%;
  @include scrollbars();

  #root {
    height: 100%;

    .App {
      height: 100%;
    }
  }
}

html {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.container {
  width: 100%;
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
