.homepage {
  section {
    // border-bottom: 1px solid white;
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
  }
  h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
  }
}
