.support-wrapper {
  position: relative;
  background-color: rgb(248 249 253);
  height: 100vh;
  z-index: 50;

  .top {
    position: relative;
    display: inline-flex;
    height: 50%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    text-align: center;

    .form-wrapper {
      display: flex;
      font-size: 20px;
      font-weight: 400;
      color: rgb(119 126 144);
      position: absolute;
      top: 30%;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      .title {
        text-align: center;
        font-size: 40px;
        font-weight: 600;
        color: rgb(24, 24, 24);
      }

      .subtitile {
        font-size: 20px;
        font-weight: 400;
        color: rgb(119 126 144);
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        input {
          width: 420px;
          align-items: flex-start;
          border-radius: 100px;
          background-color: rgb(248 249 253);
          padding: 12px 18px;
          border: none;

          &::placeholder {
            color: rgb(119 126 144);
          }

          @include tablet_max {
            width: 300px;
          }
        }

        button {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100px;
          background-color: #da613a;
          color: #fff;
          padding: 10px 20px;
          font-size: 15px;
          font-weight: 600;
          border: none;
          width: 232px;

          @include tablet_max {
            width: 200px;
          }
        }
      }
    }
  }

  .bottom {
    position: relative;
    bottom: 0;

    footer {
      padding: 52px;

      .content {
        display: flex;
        justify-content: space-between;

        @include small_tablet_max {
          flex-direction: column;
        }

        .info {
          margin-right: 12px;
          display: flex;
          width: 33%;
          flex-direction: column;

          @include small_tablet_max {
            margin: 0;
            width: 100%;
            text-align: center;
          }

          .desc {
            padding: 28px 0;
            font-size: 16px;
            font-weight: 400;
            text-align: left;

            @include small_tablet_max {
              padding: 16px 0;
            }
          }

          .powered {
            font-size: 16px;
            font-weight: 400;
            color: rgb(119 126 144);
            text-align: left;
          }
        }

        .menu-list {
          margin-left: 12px;
          display: flex;
          justify-content: space-evenly;
          flex: 1 1 0%;
          width: 66%;

          .menu-col {
            display: flex;
            flex-direction: column;

            .menu-title {
              padding-bottom: 20px;
              font-size: 20px;
              font-weight: 600;
            }

            .item {
              margin-bottom: 8px;
              font-size: 16px;
              font-weight: 400;
              color: rgb(119 126 144);
            }
          }
        }
      }

      .social-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 96px;

        @include small_tablet_max {
          padding: 0;
        }

        & > div {
          display: flex;
          gap: 24px;
          padding-bottom: 10px;
        }

        .copyright {
          font-size: 16px;
          font-weight: 400;
          color: rgb(119 126 144);
        }
      }
    }
  }
}
